<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
           version="4.0">
<!--<servlet>-->
    <!--<servlet-name>LifeServlet</servlet-name>-->
    <!--<servlet-class>com.test.testServlet.LifeServlet</servlet-class>-->
    <!--&lt;!&ndash;在tomcat启动的时候创建Servlet实例&ndash;&gt;-->
    <!--&lt;!&ndash;数字代表优先级，0不启动，数字越小优先级越高&ndash;&gt;-->
    <!--<load-on-startup>0</load-on-startup>-->
<!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>LifeServlet</servlet-name>-->
        <!--<url-pattern>/hello</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet>-->
        <!--<servlet-name>Servlet01</servlet-name>-->
        <!--<load-on-startup>2</load-on-startup>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>Servlet01</servlet-name>-->
        <!--<url-pattern>/servlet01</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet>-->
        <!--<servlet-name>config</servlet-name>-->
        <!--<servlet-class>com.test.testServlet.ConfigTest</servlet-class>-->
        <!--<load-on-startup>1</load-on-startup>-->
        <!--<init-param>-->
            <!--<param-name>username</param-name>-->
            <!--<param-value>luffy</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>password</param-name>-->
            <!--<param-value>123456</param-value>-->
        <!--</init-param>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>config</servlet-name>-->
        <!--<url-pattern>/config</url-pattern>-->
    <!--</servlet-mapping>-->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.test.testServlet.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <!--要使用*才可以拦截所有的请求-->
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <welcome-file-list>
        <welcome-file>Test02.html</welcome-file>
    </welcome-file-list>
</web-app>
